
body {
  margin: 0;
}

h1 {
  text-align: center;
}



.formTextContact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
}

.formContact form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.nomForm {
  grid-area: 1 / 1 / 2 / 2;
}
.prenomForm {
  grid-area: 2 / 1 / 3 / 2;
}
.telForm {
  grid-area: 3 / 1 / 4 / 2;
}
.emailForm {
  grid-area: 4 / 1 / 5 / 2;
}
.messageForm {
  grid-area: 5 / 1 / 6 / 2;
}
.buttonForm {
  grid-area: 6 / 1 / 7 / 2;
}

.formContact input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 8px;
}



.formContact button {
background-color: #20737e; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 2px 2px;
  border-radius: 10px;
  height: 50%;
}

@media screen and (max-width: 850px) {
  .formContact form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
}

@media screen and (min-width: 850px) {
  .formContact form {
    display: grid;  
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 0px;
    
    }

    .formContact form {
      display: grid;  
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 2em;
      grid-row-gap: 0px;
      
      
      }
      
  .nomForm { grid-area: 1 / 1 / 2 / 2; }
  .prenomForm { grid-area: 1 / 2 / 2 / 3; }
  .telForm { grid-area: 2 / 1 / 3 / 2; }
  .emailForm { grid-area: 2 / 2 / 3 / 3; }
  .messageForm { grid-area: 3 / 1 / 4 / 3; }
  .buttonForm { grid-area: 4 / 1 / 5 / 2; }
  
  .formTextContact {
    display: flex;
    max-width: 50%;
    margin: auto;
    max-height: 50%;
    /* background-image: url(../img/assets/feuilles-vent.svg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}



@media screen and (min-width: 1100px) {
.formContact form {
    display: grid;  
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 0px;
    
    
    }
    
.nomForm { grid-area: 1 / 1 / 2 / 2; }
.prenomForm { grid-area: 1 / 2 / 2 / 3; }
.telForm { grid-area: 2 / 1 / 3 / 2; }
.emailForm { grid-area: 2 / 2 / 3 / 3; }
.messageForm { grid-area: 3 / 1 / 4 / 3; }
.buttonForm { grid-area: 4 / 1 / 5 / 2; }

.formTextContact {
  display: flex;
  max-width: 50%;
  margin: auto;
  max-height: 50%;
  /* background-image: url(../img/assets/feuilles-vent.svg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.messageForm input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-bottom: 2px solid black;
}

.containerContact {
  background-image: url(../img/assets/bubbles.svg), url(../img/assets/tige.svg), url(../img/assets/feuilles-vent.svg);
  background-position: left, right;
  background-repeat: no-repeat;
  background-size: 300px, 400px;
  
}

}