body {
    margin: 0;
  }

 #myBtn {
   
    margin: 20px;
    display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: flex-end;
	  align-items: stretch;
	  align-content: center; 
    display: none; 
    background-color: #20737e; 
    /* position: fixed;  */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px;
    z-index: 99; 
    border: none;
    /* outline: none; Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    /* padding: 15px; Some padding */
    border-radius: 4px; /* Rounded corners */
    font-size: 14px; /* Increase font size */
}
#myBtn:hover {
  background-color: #555; 
}

#map {
  width: 100%;
  /* height: 400px; */
  max-width: 1920px; 
  margin: 0 auto; 
  min-height: 50vh;

}


h1 {
  /* margin-left: 300px; */
  font-size: 2rem;
  text-align: center; 
  margin-bottom: 1rem; 
}

/* h3 {
  margin-left: 300px;
  font-size: 2rem;
  text-align: center; 
  margin-bottom: 1rem; 
} */


#searchStation {
  /* text-align: center;  */
  margin-bottom: 1rem; 
  /* margin-left: 300px; */
  padding: 10px;
}

#findStation {
  width: 100%; 
  max-width: 400px; 
  margin: 0 auto; 
  padding: 0.5rem;
  box-sizing: border-box; 
}