
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 100px; */
  }

  .carousel,
  .section-ccm {
    max-width: 1200px;
    margin: auto;
  }

  /* MOBILE */
  .carousel {
    display: none;
  }

  .carousel .slides {
    max-width: 300px;
    /* min-width: 300px; */
    position: relative;
    margin: auto;
  }

  .carousel .slide {
    display: none;
  }

  .carousel .slide__img {
    width: 100%;
  }

  .carousel .prev,
  .carousel .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px;
    margin-top: -22px;
    font-size: 20px;
    cursor: pointer;
  }

  .carousel .prev {
    left: 10px;
  }

  .carousel .next {
    right: 10px;
  }
  ction-ccmon-ccm {
    display: block;
  }
  .section-ccm .slides {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .section-ccm .slide {
    flex: 1 1 400px;
    text-align: center;
  }
  .section-ccm{
    margin-top: 150px;
  }

  @media (max-width: 600px) {
    .carousel {
      display: block;
      margin-top:100px;
    }

    .section-ccm {
      display: none;
    }
    img {
      height: 150px;
    }
  }