* {
    margin: 0;
    padding: 0;
}

:root {
    --bleuOcean: #3AAEB5;
    --bleuHeader: #20737e;
    --grisBleu: #85bac5;
    --clearBleu: #47c8c0;
    --blanc: #fff;
}


#logo{
    height: 60px;

}


header {
    background: var(--bleuHeader);
    color: var(--blanc);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.nav-brand {
    font-family: var(--signature-font);
    font-size: 2rem;
    color: var(--chocolate-color);
}

.navbar-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}


#navbar-toggle {
    display: none;
}

@media screen and (max-width: 800px) {
    .navbar-desktop {
        display: none;
    }
}
.bg-btn {
    background: var(--bleuHeader);
    color: var(--blanc);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.d-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;
}

.d-flex li {
    margin: 0 10px;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--blanc);
}

a:hover {
    text-decoration: underline;
    color: var(--clearBleu);
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: var(--bleuOcean);
    color: var(--blanc);
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 50px;
}

.btn:hover {
    background: var(--bleuOcean);
    color: var(--blanc);
}


footer {
    background: var(--bleuHeader);
    color: var(--blanc);
    width: 100%;
    
    bottom: 0;
    z-index: 1000;
    text-align: center;
    margin-top: 150px;
    padding: 20px 0;
}

.d-none {
    display: none;
}

